<ion-view>
    <ion-content class="authenticate text-center bg-white">
        <img ng-src="img/logo.png" width="80%">
        <div class="buttons">
            <button class="button button-energized bg-yellow button-block no-border no-radius" ui-sref="header.signin">
                {{'LOGIN' | translate}}
            </button>
            <button class="button button-dark bg-black yellow button-block no-border no-radius" ui-sref="header.signup">
                {{'NEW_USER' | translate}}
            </button>
        </div>
    </ion-content>
</ion-view>
