<ion-modal-view>
    <ion-content class="padding text-center bg-content">
        <div class="location-alert">
            <h4>ESERVISS NEEDS YOUR CURRENT LOCATION TO FIND NEARBY DRIVERS</h4>
            <img ng-src="img/pin-alert.png">
            <h4>TO ALLOW LOCATION USAGE TAP THE BUTTON BELOW, AND SELECT 'PRIVACY' THEN 'LOCATION SERVICES'</h4>
            <div class="padding">
                <button class="button button-block button-small button-energized bg-yellow black b" ng-click="onTurnOnLocationTapped()">
                    TURN ON LOCATION
                </button>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
