<ion-view>
    <ion-content class="padding bg-content">
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-home placeholder-icon"></i>
                <ion-google-place placeholder="Enter address" ng-model="request.pickupAddress" country="LB" on-selected="onLocationSelected(location)" ng-disabled="true" />
            </label>
            <div class="item item-divider yellow b bg-content">
                SEND NOTE FOR DRIVER
            </div>
            <label class="item item-input">
                <textarea placeholder="Comments" ng-model="request.comment" rows="7"></textarea>
            </label>
        </div>
        <button class="button button-block button-dark yellow b" ng-click="onConfirmTapped()">
            CONFIRM HAIL
        </button>
    </ion-content>
</ion-view>
