<ion-view>
    <ion-content class="bg-content">
        <div class="list">
        	<div class="item item-icon-right no-bg" ui-sref="menu.helpcenter">
        		Help center
        		<i class="icon ion-ios-arrow-right"></i>
        	</div>
        	<div class="item item-icon-right no-bg" ui-sref="menu.terms">
        		Terms of service
        		<i class="icon ion-ios-arrow-right"></i>
        	</div>
        	<div class="item item-icon-right no-bg" ui-sref="menu.privacy">
        		Privacy policy
        		<i class="icon ion-ios-arrow-right"></i>
        	</div>
        	<div class="item item-icon-right no-bg" ng-click="onContactUs()">
        		Contact us
        		<i class="icon ion-ios-arrow-right"></i>
        	</div>
        </div>
    </ion-content>
</ion-view>
