<ion-view id="helpcenter">
    <ion-content class="bg-content">
        <div class="list">
            <div class="item item-divider">
                Frozen App or Website Issues
            </div>
            <div class="item item-body">
                <p>Sometimes your app may freeze or not work correctly due to connectivity issues. Try the following: Force quit your app and reopen it. Toggle airplane mode on and off. Turn your phone off then on again. If you're unsure how to perform any of the functions above, try an internet search or visit your local wireless store.</p>
            </div>
            <div class="item item-divider">
                Coverage Areas
            </div>
            <div class="item item-body">
                <h2 class="b">Can requests be made outside the coverage area?</h2>
                <p>Requests can only be made from inside your city's coverage area. Most of our coverage areas include the city itself and surrounding areas.</p>
                <h2 class="b">Can rides go outside the coverage area?</h2>
                <p> You are permitted to take a ride outside of the coverage area as long as the ride does not exceed a distance 100 kms total.</p>
                <h2>How often do you expand your coverage areas?</h2>
                <p>We are constantly growing and changing, so it's likely that the zones we cover will continue to expand as the ESERVISS community grows.</p>
            </div>
            <div class="item item-divider">
                What is SERVISS+?
            </div>
            <div class="item item-body">
                <p>SERVISS+ takes ridesharing to the next level by connecting you to other passengers along your route. When you share a ride, you pay a discounted price, and make new friends along the way. Pricing is cheaper than taxi but more expensive than serviss.</p>
            </div>
            <div class="item item-divider">
                Cancellations and no-shows
            </div>
            <div class="item item-body">
                <p>If you make a request, and then need to cancel it you can do so by tapping the icon at the top right. If you've already been paired with a driver, in certain cases, a cancellation fee will apply.</p>
                <h2>No-shows</h2>
                <p>Once your driver arrives, you'll receive a text message. The driver is instructed to wait about a minute before moving on. If you don't show up by the time their app finishes counting down, they'll mark you as a no-show and continue on their route. You will be charged a cancellation fee for which you'll receive an email receipt.</p>
            </div>
            <div class="item item-divider">
                Can I schedule when I want a ride?
            </div>
            <div class="item item-body">
                <p>Since ESERVISS is an on-demand ride share platform, it's not possible to schedule a pickup in advance. Since we operate 24/7, as long as your request comes from inside the coverage area, you should have no problem getting picked up within a few minutes of requesting.</p>
            </div>
            <div class="item item-divider">
                The Star Rating System
            </div>
            <div class="item item-body">
                <p>ESERVISS is all about community. In order to maintain the magic that is ESERVISS, each community member, whether they are a passenger or a driver, is expected to uphold community standards and values. After each ride, you'll have the opportunity to rate your driver, and they will rate you. When requesting a ride, you'll be able to see your driver's rating and they'll be able to see yours. ESERVISS has rigorous standards for drivers, and each rating you give can have an impact on that driver's future with ESERVISS. In addition, passengers with a low star rating may not have their requests accepted as often.</p>
                <h2>What should factor into the star rating I give my driver?</h2>
                <p>The star rating should be based on your interaction with the driver during the ride. When choosing a rating, consider whether your driver was friendly, safe, a good navigator, and made you want to use ESERVISS again. 5 stars means the ride was great, and met standards. Anything lower than 5 indicates that you were somehow unhappy with the ride, and we want to know why! Please use the comment box in the app to leave feedback</p>
            </div>
            <div class="item item-divider">
                Signing up
            </div>
            <div class="item item-body">
                <p>Creating an ESERVISS account is easy! You can connect to the app with Facebook or your phone number. If you connect with Facebook, we use your Facebook name, picture, and email. If you connect with your phone number, you enter that info manually.</p>
            </div>
            <div class="item item-divider">
                Editing your profile
            </div>
            <div class="item item-body">
                <p>Some aspects of your profile can be changed in the app, and others require you to reach out to our friendly Support Team. What can be changed, and how to change it, also differs depending on whether you create your account with Facebook or a phone number. Click on each aspect below for info on how to change it.</p>
                <h2>Profile picture</h2>
                <p>This is what your driver sees when picking you up. Help them out by making it look as much like you as possible! If you signed up with a Facebook account, you initial profile photo will be the same as your Facebook photo. To change your photo with either a phone-based or Facebook-based account, simply tap on "Edit Profile" in your profile, then tap on your profile photo. From there, tap "Update". You can choose to take a new photo, or upload one from your saved photos.</p>
                <h2>Name</h2>
                <p>Only your first name is shown to drivers, they'll never see your last name.</p>
                <h2>Facebook login</h2>
                <p>Your name is the same as your Facebook's. Log into your Facebook and change your name, and it will also change in the ESERVISS app.</p>
                <h2>Phone number login</h2>
                <p>We'll be happy to change your name for you; just send us a message</p>
                <h2>Phone number</h2>
                <p>Drivers never see your phone number — we use a system which masks all users' phone numbers.</p>
                <h2>Facebook login</h2>
                <p>You're asked to enter a phone number upon sign-up, and can change it any time in the 'Settings' tab of the app.</p>
                <h2>Phone number login:</h2>
                <p>We'll be happy to change it for you; just send us a message</p>
                <h2>Email address</h2>
                <p>This is where your email receipts are sent.</p>
                <h2>Facebook login</h2>
                <p>Your email is, by default, the same as your Facebook's. Go to 'Settings' in the app to change it.</p>
                <h2>Phone number login</h2>
                <p>You can change your email address any time in the app in the 'Settings' tab.</p>
                <h2>Payment info</h2>
                <p>Regardless of your login method, your payment information can be edited in the 'Payment' tab of the app.</p>
            </div>
            <div class="item item-divider">
                Changing Your Phone Number
            </div>
            <div class="item item-body">
                <h2>Phone number login</h2>
                <p>If you created your account with a phone number, you'll need to have us change the number for you. Send us a message with your old phone number, and what you'd like it changed to. If you don't know which you are, check your 'Settings' tab to see if you can edit the phone number. If not, send us a message using the link above and we'll take care of it!</p>
            </div>
        </div>
    </ion-content>
</ion-view>
