<ion-view id="blacklist">
    <ion-content class="bg-content text-center">
        <div class="row">
            <div class="col col-80 col-offset-10">
                <div class="fake">
                    <h2 class="yellow">FAKE REQUESTS</h2>
                    <div class="progress-container">
                        <div class="progress-bar" id="fake-progress" style="width: 0%"></div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
