<ion-view id="tour">
    <ion-content class="bg-content">
        <div class="row">
            <div class="col col-80 col-offset-10">
                <ion-slide-box>
                    <ion-slide>
                        <img ng-src="img/tour/1.jpg" width="100%">
                    </ion-slide>
                    <ion-slide>
                        <img ng-src="img/tour/2.jpg" width="100%">
                    </ion-slide>
                    <ion-slide>
                        <img ng-src="img/tour/3.jpg" width="100%">
                    </ion-slide>
                    <ion-slide>
                        <img ng-src="img/tour/4.jpg" width="100%">
                    </ion-slide>
                    <ion-slide>
                        <img ng-src="img/tour/5.jpg" width="100%">
                    </ion-slide>
                    <ion-slide>
                        <img ng-src="img/tour/6.jpg" width="100%">
                    </ion-slide>
                    <ion-slide>
                        <img ng-src="img/tour/7.jpg" width="100%">
                    </ion-slide>
                </ion-slide-box>
                <button class="button button-block button-energized bg-yellow b black" ui-sref="landing">
                    SKIP THE TOUR
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
